.App-header{
  margin: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-logo{
  color: rgb(18, 215, 159);
  font-size: 1.2em;
  vertical-align: sub;
}

.nav-items {
  display: flex;
  list-style: none;
}

.nav-items > li {
  padding: 20px 50px;
}

.nav-items > li:hover {
  background-color: aquamarine;
}

.dropdown {
  overflow: hidden;
}

.dropdown > i {
  font-size: 2em;
  vertical-align: middle;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content span {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.services-container h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.services {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.service-card {
  display: block;
  background-color: rgb(247, 232, 212);
  border: 1px solid #787474;
  border-radius: 10px;
  padding: 25px;
  margin: 20px 10px;
  width: 200px;
}

.service-card .service-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.service-card .service-cost, .service-card .service-rating {
  padding: 10px 0;
}


footer{
  font-weight: bold;
  background-color: lightgrey;
  padding: 10px;
  text-align: center;
}